fastapi
sqlalchemy
alembic
uvicorn
asyncpg
psycopg2-binary
passlib
pydantic[all]
pydantic[email]
requests
pytest
pydantic-settings
httpx
mock
pytest-asyncio
pytest-cov
python-jose
python-multipart
greenlet